
<h1>Posts</h1>

<% @friend_posts.each do |post| %>

  <%= render 'post_box', post: post %>

  <% post.comments.each do |comment| %>
    <%= render 'comment_box', comment: comment %>
  <% end %>

<% end %>
 

<br>

<div class="mb-5">
  <%= link_to 'New Post', new_post_path %>
</div>