
<h2>Post timeline</h2>

<br>

<div class="mb-5">
  <%= link_to 'New Post', new_post_path %>
</div>

<% @friend_posts.each do |post| %>

  <%= render 'post_box', post: post %>

  <div class="ms-5">

    <% post.comments.each do |comment| %>
      <%= render 'comments/comment_box', comment: comment %>
    <% end %>

  </div>

<% end %>
